{% extends 'base.html' %}{% load bootstrap3 %} {% load staticfiles %} {% block content %}
<div class="col-sm-4">

</div>
<div class="col-sm-4">
    <div class="well" style="margin-top:150px">
        <form method="post" enctype="multipart/form-data" style="margin-top:30px;">
            {% csrf_token %} {% bootstrap_form form%}
            <input type="submit" class="btn btn-primary btn-sm" value="Submit">
            <input type="hidden" name="next" value="{{next}}">

        </form>

    </div>
</div>
<div class="col-sm-4">

</div>

{% endblock %}