{%extends "base.html"%} {% block content %}
<div class="uk-section uk-section-small uk-section-muted">

    <div class="uk-container">



        <div class="uk-text-center uk-inline ">
            <p style="font-weight:bold; font-size:35px">{{user.username}}</p>

            <input type="text" name="" value="Edit Profile" class=" btn btn-default btn-block" style="display:inline-block; width:200px; font-size:20px">

        </div>
        <br>
        <p style="font-size:20px"><span><span style="font-weight:bolder"> </span>50 Posts</span> <span style="margin-left:20px"><span style="font-weight:bolder">1000 </span> Followers</span> <span style="margin-left:20px"> <span style="font-weight:bolder">4000 </span>Following</span>
        </p>
    </div>



    <div class="profile">
        <img src="{{user.profile.profile_photo.url}}" alt="" style="height:150px;width:150px; border-radius:50%; float:left; margin-right:50px">


    </div>


    <div class="uk-container">
        <p class="text-center" style="font-size:20px">Posts</p>
        {% for image in images %}
        <div class="uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-inline">
                    <a href="{% url 'singleImage' image.id%}">
                        <img src="{{image.image.url}}">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}